/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/* =============================================================
   GENERAL STYLES
 ============================================================ */

body {
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
}

.havbarheader {
    height: 65px;
}

.Back-h {
    background-image: url("back1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.navbartop img {
    height: 50px;
    padding-bottom: 5px;
}

.navbartop h4 {
    font-weight: bold;
    padding-top: 20px;
    color: rgb(132, 4, 4);
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    min-height: 100%;
    padding-bottom: 100px;
}

.header-line {
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    /* border-bottom: 1px solid #eeeeee; */
    text-transform: uppercase;
}

.pad-botm {
    padding-bottom: 20px;
}

.Bodydiv {
    width: 100%;
}


/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */

.right-div {
    float: right;
    padding: 20px;
}

#menu-top a {
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-weight: 700;
    padding: 25px 15px 25px 15px;
    text-transform: uppercase;
    /* background-color: #920303; */
}

#menu-top a:hover {
    color: #000;
}

.menu-section {
    background-color: #920303;
    border-bottom: 5px solid #660108;
    width: 100%;
}

.menu-top-active {
    background-color: #920303;
}

.navbar-inverse {
    background-color: rgb(255, 255, 255);
    border-color: rgba(155, 153, 153, 0.23);
}

.navbar {
    min-height: 80px;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-toggle {
    background-color: black;
    border: 1px solid black;
}

.btn-danger {
    color: rgb(255, 255, 255);
    background-color: #961111;
    border-color: #000000;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #7a0703;
}


/* ==================================================
Book card Styles
===================================================*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 175px;
    text-align: center;
    font-family: arial;
    margin: 10px;
    line-height: 5px;
}

.category {
    color: grey;
    font-size: 12px;
    margin-top: 2px;
}

.auth {
    color: rgb(43, 42, 42);
    font-size: 10px;
}

.bookname {
    font-weight: 700;
    font-size: 14px;
}

.card button:hover {
    opacity: 0.7;
}


/* =============================================================
   DASHBOARD STYLES
 ============================================================ */

.home-container {
    margin-right: auto;
    margin-left: auto;
}

.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5f0303;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.centered :hover {
    opacity: 0.7;
    transform: scale(0.9);
}

.centertext {
    margin: 15px;
    font-weight: 700;
    font-size: 20px;
    font-family: arial;
    letter-spacing: 2px;
    color: white;
}

.himediv {
    height: auto;
    width: auto;
    margin-bottom: 30px;
}

.booktable {
    display: flex;
    justify-content: center;
}

.img-comments {
    border: 3px double #e1e1e1;
    height: 60px;
}

.alert-success {
    color: #000000;
    background-color: #dff0d8;
    border-color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.alert-success:hover {
    transform: scale(0.9);
}

.alert-success hr {
    border-top-color: #000000;
}

.alert-success .alert-link {
    color: #000000;
}

.chat-widget-main {
    max-height: 330px;
    overflow: auto;
}

.slide-bdr {
    /* border: 5px solid #961111; */
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 500px;
    background-size: cover;
}

.chat-widget-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #f70e62;
    border-width: 15px;
    margin-left: -15px;
}

.chat-widget-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #f70e62;
    font-size: 12px;
}

.chat-widget-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #5aa8cc;
    border-width: 15px;
    margin-left: -15px;
}

.chat-widget-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #5aa8cc;
    font-size: 12px;
}

.chat-widget-name-left {
    color: #808080;
    margin-top: 30px;
    margin-left: 60px;
    text-align: left;
}

.img-left-chat {
    border: 3px double #e1e1e1;
    float: left;
    margin-right: 30px;
}

.img-right-chat {
    border: 3px double #e1e1e1;
    float: right;
    margin-left: 30px;
}

.chat-widget-main img-right {
    border: 3px double #e1e1e1;
    float: left;
}

.chat-widget-name-left h4 {
    font-weight: normal;
    font-size: 11px;
}

.chat-widget-name-left h5 {
    font-weight: normal;
    font-size: 10px;
}

.chat-widget-name-right h4 {
    font-weight: normal;
    font-size: 11px;
}

.chat-widget-name-right h5 {
    font-weight: normal;
    font-size: 10px;
}

.chat-widget-name-right {
    color: #808080;
    margin-top: 40px;
    margin-right: 60px;
    text-align: right;
}

.recent-users-sec img {
    max-height: 80px;
    margin: 15px;
}

.back-widget-set {
    background-color: transparent;
}


/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */

.footer-section {
    height: 100px;
    padding: 25px 50px 25px 50px;
    color: #000;
    font-size: 13px;
    background-color: #f7f7f7;
    text-align: right;
    border-top: 5px solid #5f0303;
}

.footer-section a,
.footer-section a:hover {
    color: #000;
}


/* =======================================================

searchbar
*/

.cl_country {
    border-radius: 10px;
    margin: 10px;
    height: 30px;
}

.cl_age {
    border-radius: 10px;
    margin: 10px;
    height: 30px;
}

.cl_auth {
    border-radius: 10px;
    margin: 10px;
    height: 30px;
}

input#myInput {
    border-radius: 10px;
    margin: 10px;
    height: 30px;
    border: 1px solid;
    justify-content: left;
}

.searchBar.col-md-6 {
    text-align: right;
}

.selectpath {
    padding: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.selctsignup {
    width: 300px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
}

.imgslide {
    max-width: 100%;
    position: relative;
}

.musium {
    margin-right: 10px;
    margin-left: 30px;
    align-items: center;
    display: flex;
}